<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>SchemeUserState</key>
	<dict>
		<key>Apple_Pay.xcscheme</key>
		<dict>
			<key>orderHint</key>
			<integer>0</integer>
		</dict>
	</dict>
	<key>SuppressBuildableAutocreation</key>
	<dict>
		<key>8112CA3F1C7C2D8000D5A8E3</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>8112CA581C7C2D8000D5A8E3</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>8112CA631C7C2D8000D5A8E3</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
	</dict>
</dict>
</plist>
